*{
    margin: 0px;
    padding:0px;

}
.container{
    /* background-color: rgb(125, 207, 255); */
    margin: 0px 25% 0px 25%;
}
.card{
    border: 1px solid rgb(165, 165, 165);
    display: flex;
    flex-direction: column;
    /* width: 1010px; */
    /* height: fit-content; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 22px -14px rgb(0 0 0 / 75%);
    margin-bottom: 30px;
}
header,footer{
    background-color: rgb(129, 198, 255);
    height: 60px;
    padding: 10px;
    color: white;
}
.card h3{
        color: rgb(75, 183, 255);
        font-weight: bold;
        font-size: 30px;
        padding: 10px 0px;
}
em{
    background-color:rgb(177, 239, 255);
}
.button{
    background-color: rgb(129, 198, 255);
    width: fit-content;
    height: fit-content;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: bold;
}
